<div id="main" role="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="grey span3">
        <%= render 'layouts/left' %>
      </div>

      <div class="grey span7" id="capture-content">
        <%= render 'layouts/messages' %>

        <div class="row media">
          <table>
            <tr>
              <td class="media-type">Picture</td>
              <td class="media-type">Photo-Booth</td>
              <td class="media-type">Video</td>
              <td class="media-type">Audio</td>
              <td class="media-type">Letter</td>
              <td class="media-type">URL</td>
              <td class="media-type">Attachment</td>
              <td class="media-type">RSS</td>
              <td class="media-type">Image</td>
              <td class="media-type">FB</td>
              <td class="media-type">Twitter</td>
              <td class="media-type">G+</td>
            </tr>
            <tr>
              <td class="media-type"><i class="icon-camera-retro icon-large"></i></td>
              <td class="media-type"><i class="icon-film icon-large"></i></td>
              <td class="media-type"><i class="icon-facetime-video icon-large"></i></td>
              <td class="media-type"><i class="icon-music icon-large"></i></td>
              <td class="media-type"><i class="icon-edit icon-large"></i></td>
              <td class="media-type"><i class="icon-link icon-large"></i></td>
              <td class="media-type"><i class="icon-paper-clip icon-large"></i></td>
              <td class="media-type"><i class="icon-rss icon-large"></i></td>
              <td class="media-type"><i class="icon-picture icon-large"></i></td>
              <td class="media-type"><i class="icon-facebook-sign icon-large"></i></td>
              <td class="media-type"><i class="icon-twitter-sign icon-large"></i></td>
              <td class="media-type"><i class="icon-google-plus-sign icon-large"></i></td>
            </tr>
          </table>
        </div>

        <div class="row">
          <ul>

          </ul>
        </div>

        <div>
          <ul>
            <% @photos.each do |photo| %>
            <%= validate_image(photo.image.url(:thumb))%>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="grey span2">
        <%= render 'layouts/right' %>
      </div>
    </div> <!-- end row -->
  </div> <!--! end of .container-fluid -->
</div> <!--! end of #main -->