<div id="main" role="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="grey span3">
        <%= render 'layouts/left' %>
      </div>

      <div class="grey span7">
        <%= render 'layouts/messages' %>
        <h1>Display All Photos</h1>

          <ul>
            <% @photos.each do |photo| %>
            <%= validate_image(photo.image.url(:thumb))%>
            <% end %>
          </ul>

      </div>
      <div class="grey span2">
        <%= render 'layouts/right' %>
      </div>
    </div> <!-- end row -->
  </div> <!--! end of .container-fluid -->
</div> <!--! end of #main -->