  <ul class="nav nav-list">
    <li class="active"><a href="#">Home</a></li>
    <li class="nav-header">Business</li>
    <li class="nav-header">Data</li>
    <li class="nav-header">Financial</li>
    <li class="nav-header">Other</li>
  </ul>