<div class="nav pull-left">
  <%= link_to "MessageBooth", root_path, :class => 'brand' %>
</div>0

<div class="nav pull-right">
  <ul>
    <li class="btn">
      <%= link_to 'Capture', capture_path %>
    </li>
    <li class="btn">
      <%= link_to 'Display', display_path %>
    </li>
  </ul>
</div>