<div class="nav pull-left">
  <%= link_to "MessageBooth", root_path, :class => 'brand' %>
</div>

<div>
  <ul class="nav pull-right">
    <li class="btn">
      Capture
    </li>
    <li class="btn">
      Display
    </li>
  </ul>
</div>