<p class="headering">Sharing</p>
<ul class="">
  <li class="social"><%= link_to "", new_facebook_path, :class => "icon-facebook-sign icon-4x" %></li>
  <li class="social"><%= link_to "", new_twitter_path, :class => "icon-twitter-sign icon-4x" %></li>
  <li class="social"><%= link_to "", new_google_p_path, :class => "icon-google-plus-sign icon-4x" %></li>
</ul>
<br/>
